
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Oxygen Mono", Helvetica, sans-serif;
  margin: 0;
  background-color: #f5f7f7;
  
}
/* Header/logo Title */
.header {
  text-align: right;
  background: #f5f7f7;
  color: #262625;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  text-align: right;
  background-color: #f5f7f7;
  padding: 0 20px;
  margin-left: 20px;
  margin-top: 30px;

  width:100%;
  justify-content: start;  

}

/* Style the navigation bar links */
.navbar a {
  color: #262625;
  padding-inline: 40px;
  padding-bottom: 0px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #262625;

}

/* Change color on hover */
.navbar a:hover {
  background-color: #262625;
  color: #fff;
  border-bottom: 3px solid #f5f7f7;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;

}
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

/* column */
.side {
  flex: 30%;
  justify-content: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: black;
  flex-grow: 1;
 
  
}

.main {
  flex: 70%;
  justify-content: center;
  flex-grow: 1;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: black;
 
}

.center{
  flex: 70%;
  flex-grow: 1;
  justify-content: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  flex-grow: 1;
  color: black;
 
}

li a:hover  {
  background-color: #262625;
  color: #f5f7f7;

}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    text-align: right;
    background-color: #f5f7f7;
    justify-content: center;
  }

  .side {
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  }

  .main {
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  .square {
    background-color: #262625; 
    width: px;
    height: 10px;

  }
}

.img img {
  background-color: #ffbb00; 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.circle {
  background-color: #262625; 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: -154px;
  display: inline-block;
  background-color: rgba(204, 0, 102, 0);
border: 3px solid #333;
}
.square {
  background-color: #262625; 
  width: 50px;
  height: 10px;
  display: inline-block;
}

/* Footer */
.footer {
  background: #262625;
  width: 100vw;
  height: 80px;
  flex-direction: row;
  text-align: right;
  padding: 20px;
  color: #f5f7f7;
}

.footer a {
  font-size: x-small;
  color: #f5f7f7;

}

/* sildeshow */
.carousel {
  overflow: hidden;
  position: relative;
  max-width: 850px;
  height: auto;
  margin-left: -30px;
 
}
.carousel .carousel_item,
.carousel .carousel_item-hidden {
  display: none;
 }
 .carousel .carousel_item img {
   max-width: 100%;
   height: auto;
 }

 
 .carousel .carousel_item-visible {
   display: block;
 }

.carousel .carousel_actions {
  display: flex;
  width:100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.carousel .carousel_actions button {
  border-radius: 0px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 200px;
  opacity: 50%;
}

.carousel .carousel_actions button#carousel_button-prev {
  margin-left: 0px;

}

.carousel .carousel_actions button#carousel_button-next {
  margin-right: 0px;
  
  }