
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lato", serif;
  margin: 0;
  background-image: linear-gradient(to top, #DCFFF8, #E0E8F4);

}

/* Header/logo Title */
.header {
  padding: 5px;
  text-align: right;
  background: #F4F1E0;
  color: black;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #62EED0;
  text-align: right;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #000;
  color: #fff;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(to top, #DCFFF8, #E0E8F4);

  }
  .main {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
  .footer {
    text-align: center;
    background: black;
    height: 800vh;
    width: 100vw;
  
  }


  
}
/* Main column */
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: black;
  
}
.main {
  flex: 70%;
 padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: black;
  height: 70vh;
}

.center {
  background-color: blue;
  flex: 100%;
 padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: black;
  height:100vh;
  width: auto;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #FAFFE6; 
  opacity: 0.5;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  text-align: center;
  background: black;
  height: 20vh;
  width: 100vw;
  bottom:0;
  left:0;

}
/* sildeshow */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}