
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lato", serif;
  margin: 0;
  background-color: #f5f7f7;
  
}
/* Header/logo Title */
.header {
  text-align: right;
  background: #f5f7f7;
  color: #262625;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  text-align: right;
  background-color: #f5f7f7;
  padding: 0 20px;
  margin-left: 30px;
}

/* Style the navigation bar links */
.navbar a {
  color: #262625;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #262625;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #262625;
  color: #fff;
  border-bottom: 3px solid #ffbb00;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* column */
.side {
  flex: 30%;
  justify-content: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: black;
  flex-grow: 1;
 
  
}

.main {
  flex: 70%;
  justify-content: center;
  flex-grow: 1;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: black;
 
}

.center{
  flex: 70%;
  flex-grow: 1;
  justify-content: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  flex-grow: 1;
  color: black;
 
}


/* Fake image, just for this example */
.fakeimg {
  background-color: #FAFFE6; 
  opacity: 0.5;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  text-align: center;
  background: #262625;
  width: 100vw;
  height: 100px;
}

/* sildeshow */
.carousel {
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  height: auto;
}
.carousel .carousel_item,
.carousel .carousel_item-hidden {
  display: none;
 }
 .carousel .carousel_item img {
   max-width: 100%;
   height: auto;
 }
 .carousel .carousel_item-visible {
   display: block;
 }

.carousel .carousel_actions {
  display: flex;
  width:100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.carousel .carousel_actions button {
  border-radius: 0px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 200px;
  opacity: 50%;
}

.carousel .carousel_actions button#carousel_button-prev {
  margin-left: 0px;

}

.carousel .carousel_actions button#carousel_button-next {
  margin-right: 0px;
  
  }